<a href="https://colab.research.google.com/github/KaanErdogdu/Bootcamp_Bolum_1/blob/master/Odev_4_3)_Deneme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import warnings

In [0]:
statesData=pd.read_csv("states_all.csv")

In [7]:
statesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [54]:
statesData.isnull().head()

   PRIMARY_KEY  STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0        False  False  ...                False                 True
1        False  False  ...                 True                 True
2        False  False  ...                False                 True
3        False  False  ...                False                 True
4        False  False  ...                False                 True

[5 rows x 25 columns]

In [56]:
statesData.isnull().sum()*100/statesData.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [57]:
statesData.TOTAL_REVENUE[(statesData["YEAR"] == 2011)]

969      7376725.0
970      2357828.0
971      8429186.0
972      5176362.0
973     70953331.0
974      8747471.0
975      9783168.0
976      1759170.0
977      1283071.0
978     26453693.0
979     18030043.0
980      2499513.0
981      2089982.0
982     29507584.0
983     12125155.0
984      6098470.0
985      5538869.0
986      7104589.0
987      8022917.0
988      2654366.0
989     13443940.0
990     15396681.0
991     19374026.0
992     10912368.0
993      4516742.0
994      9915356.0
995      1631810.0
996      3879388.0
997      4146577.0
998      2947007.0
999     26242376.0
1000     3591330.0
1001    57753776.0
1002    14409515.0
1003     1309044.0
1004    23488657.0
1005     5835133.0
1006     6112484.0
1007    28492510.0
1008     2212352.0
1009     7772777.0
1010     1297661.0
1011     8679893.0
1012    51023159.0
1013     4141253.0
1014     1686499.0
1015    14655345.0
1016    11905941.0
1017     3475642.0
1018    11664303.0
1019     1650621.0
1654           NaN
1655           NaN
Name: TOTAL_REVENUE, dtype: float64

In [58]:
statesData.TOTAL_REVENUE[(statesData["YEAR"] == 2011)].mean

<bound method Series.mean of 969      7376725.0
970      2357828.0
971      8429186.0
972      5176362.0
973     70953331.0
974      8747471.0
975      9783168.0
976      1759170.0
977      1283071.0
978     26453693.0
979     18030043.0
980      2499513.0
981      2089982.0
982     29507584.0
983     12125155.0
984      6098470.0
985      5538869.0
986      7104589.0
987      8022917.0
988      2654366.0
989     13443940.0
990     15396681.0
991     19374026.0
992     10912368.0
993      4516742.0
994      9915356.0
995      1631810.0
996      3879388.0
997      4146577.0
998      2947007.0
999     26242376.0
1000     3591330.0
1001    57753776.0
1002    14409515.0
1003     1309044.0
1004    23488657.0
1005     5835133.0
1006     6112484.0
1007    28492510.0
1008     2212352.0
1009     7772777.0
1010     1297661.0
1011     8679893.0
1012    51023159.0
1013     4141253.0
1014     1686499.0
1015    14655345.0
1016    11905941.0
1017     3475642.0
1018    11664303.0
1019     1650621.0
1654           NaN
1655           NaN
Name: TOTAL_REVENUE, dtype: float64>

In [59]:
statesData.TOTAL_REVENUE[(statesData["YEAR"] == 2011)].fillna(statesData["TOTAL_REVENUE"][statesData["YEAR"]==2011].mean)

969                                           7.37672e+06
970                                           2.35783e+06
971                                           8.42919e+06
972                                           5.17636e+06
973                                           7.09533e+07
974                                           8.74747e+06
975                                           9.78317e+06
976                                           1.75917e+06
977                                           1.28307e+06
978                                           2.64537e+07
979                                             1.803e+07
980                                           2.49951e+06
981                                           2.08998e+06
982                                           2.95076e+07
983                                           1.21252e+07
984                                           6.09847e+06
985                                           5.53887e+06
986                                           7.10459e+06
987                                           8.02292e+06
988                                           2.65437e+06
989                                           1.34439e+07
990                                           1.53967e+07
991                                            1.9374e+07
992                                           1.09124e+07
993                                           4.51674e+06
994                                           9.91536e+06
995                                           1.63181e+06
996                                           3.87939e+06
997                                           4.14658e+06
998                                           2.94701e+06
999                                           2.62424e+07
1000                                          3.59133e+06
1001                                          5.77538e+07
1002                                          1.44095e+07
1003                                          1.30904e+06
1004                                          2.34887e+07
1005                                          5.83513e+06
1006                                          6.11248e+06
1007                                          2.84925e+07
1008                                          2.21235e+06
1009                                          7.77278e+06
1010                                          1.29766e+06
1011                                          8.67989e+06
1012                                          5.10232e+07
1013                                          4.14125e+06
1014                                           1.6865e+06
1015                                          1.46553e+07
1016                                          1.19059e+07
1017                                          3.47564e+06
1018                                          1.16643e+07
1019                                          1.65062e+06
1654    <bound method Series.mean of 969      7376725....
1655    <bound method Series.mean of 969      7376725....
Name: TOTAL_REVENUE, dtype: object

In [60]:
statesData.YEAR.unique()

array([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 1986, 1987, 1988, 1989, 1990, 1991, 2017, 2019])

In [53]:
for i in range(1986,2019):
  statesData.TOTAL_REVENUE[(statesData["YEAR"] == i)].fillna(statesData["TOTAL_REVENUE"][statesData["YEAR"]==i].mean(), inplace=True)
  
  print(statesData.TOTAL_REVENUE[(statesData["YEAR"] == i)].value_counts(dropna=False))

NaN    51
Name: TOTAL_REVENUE, dtype: int64
NaN    51
Name: TOTAL_REVENUE, dtype: int64
NaN    51
Name: TOTAL_REVENUE, dtype: int64
NaN    51
Name: TOTAL_REVENUE, dtype: int64
NaN    53
Name: TOTAL_REVENUE, dtype: int64
NaN    51
Name: TOTAL_REVENUE, dtype: int64
NaN           2
2663934.0     1
5631293.0     1
1206819.0     1
1097076.0     1
2245348.0     1
1684706.0     1
828983.0      1
5236099.0     1
5060274.0     1
1555799.0     1
2396705.0     1
4658498.0     1
4993909.0     1
1049591.0     1
2678885.0     1
709480.0      1
9285961.0     1
26260025.0    1
5536901.0     1
9748650.0     1
2773959.0     1
1542413.0     1
3185173.0     1
883073.0      1
4684684.0     1
859329.0      1
11506299.0    1
3834302.0     1
559481.0      1
645233.0      1
2642902.0     1
551668.0      1
3341253.0     1
1063391.0     1
16264180.0    1
9963137.0     1
21630179.0    1
1585099.0     1
11257252.0    1
4043682.0     1
812377.0      1
1711959.0     1
4870832.0     1
1330091.0     1
629748.0      1
10814689.0    1
3080490.0     1
996809.0      1
5517659.0     1
3258079.0     1
2842626.0     1
Name: TOTAL_REVENUE, dtype: int64
721151.0      1
10584624.0    1
813998.0      1
683954.0      1
4196601.0     1
5357945.0     1
1346909.0     1
1436505.0     1
919594.0      1
5583166.0     1
1062475.0     1
837540.0      1
3058326.0     1
6747567.0     1
22688753.0    1
465650.0      1
3141217.0     1
3031112.0     1
6121612.0     1
1368095.0     1
3268642.0     1
3427976.0     1
20267205.0    1
4716559.0     1
580148.0      1
1148268.0     1
2827391.0     1
4918010.0     1
1109743.0     1
12269422.0    1
1191398.0     1
1832154.0     1
11370156.0    1
5918536.0     1
4064158.0     1
2880731.0     1
11034174.0    1
10841606.0    1
1170109.0     1
3438321.0     1
615130.0      1
5833420.0     1
1217194.0     1
2381148.0     1
4862635.0     1
890835.0      1
1638305.0     1
1625242.0     1
28043338.0    1
5270961.0     1
2386945.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
3566586.0     1
23933662.0    1
3571864.0     1
13271564.0    1
6121754.0     1
1710913.0     1
6824191.0     1
1357116.0     1
1145147.0     1
2970223.0     1
3061865.0     1
3535898.0     1
6125739.0     1
1012987.0     1
4488359.0     1
5262482.0     1
1911579.0     1
2491948.0     1
878986.0      1
5739012.0     1
10735756.0    1
705798.0      1
3179542.0     1
11309803.0    1
3088542.0     1
603902.0      1
507927.0      1
2987394.0     1
5682439.0     1
674921.0      1
19713604.0    1
949999.0      1
23440845.0    1
6957898.0     1
735720.0      1
4268860.0     1
1518540.0     1
1854403.0     1
892124.0      1
11762546.0    1
1792011.0     1
1342868.0     1
12315950.0    1
2700587.0     1
1393287.0     1
5648390.0     1
6410757.0     1
1133949.0     1
1052282.0     1
1266549.0     1
5141505.0     1
Name: TOTAL_REVENUE, dtype: int64
11870183.0    1
13242710.0    1
1953833.0     1
911284.0      1
3389646.0     1
2826943.0     1
1446745.0     1
3302062.0     1
3791795.0     1
1083215.0     1
1173579.0     1
1089859.0     1
6514934.0     1
642234.0      1
7326904.0     1
4420632.0     1
2057550.0     1
5985425.0     1
25063999.0    1
29512214.0    1
11368650.0    1
3156526.0     1
1832463.0     1
934916.0      1
4852467.0     1
1197945.0     1
634237.0      1
1916605.0     1
6006745.0     1
13957035.0    1
5580123.0     1
3870164.0     1
700111.0      1
3709875.0     1
20483376.0    1
5744447.0     1
802018.0      1
1367710.0     1
1646265.0     1
6354418.0     1
3076971.0     1
12236673.0    1
684882.0      1
12500208.0    1
2118973.0     1
3815218.0     1
1117068.0     1
7052825.0     1
6076939.0     1
3508673.0     1
3367437.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
1958647.0     1
1909834.0     1
31282981.0    1
2183384.0     1
6101416.0     1
3879633.0     1
4143304.0     1
3258040.0     1
1120346.0     1
12389781.0    1
3594408.0     1
1485138.0     1
1551169.0     1
860410.0      1
4686025.0     1
3375710.0     1
3185234.0     1
6422662.0     1
26026366.0    1
6674519.0     1
1750519.0     1
2035726.0     1
2241561.0     1
22241369.0    1
2914544.0     1
3365113.0     1
1269380.0     1
14671368.0    1
664057.0      1
5251014.0     1
965238.0      1
1134052.0     1
1135192.0     1
944623.0      1
12732129.0    1
655971.0      1
4123018.0     1
3622788.0     1
12172778.0    1
13012080.0    1
13684457.0    1
678874.0      1
7764687.0     1
6516400.0     1
1199019.0     1
6354593.0     1
7129757.0     1
6342623.0     1
5688918.0     1
710728.0      1
3891203.0     1
Name: TOTAL_REVENUE, dtype: int64
1185534.0     1
15184431.0    1
12630491.0    1
1213792.0     1
2053981.0     1
6667626.0     1
7885141.0     1
13929105.0    1
989991.0      1
6040883.0     1
12910890.0    1
2355859.0     1
4788489.0     1
3406582.0     1
1537085.0     1
1200186.0     1
6304977.0     1
1339186.0     1
1994021.0     1
3477420.0     1
4343262.0     1
3029537.0     1
5550134.0     1
14363709.0    1
3413742.0     1
3874045.0     1
4390879.0     1
1768148.0     1
7345090.0     1
3981788.0     1
6827952.0     1
6724752.0     1
683331.0      1
26775074.0    1
8248199.0     1
660079.0      1
898926.0      1
7585624.0     1
4133275.0     1
35614934.0    1
2274700.0     1
4106095.0     1
1131950.0     1
1701290.0     1
1022546.0     1
3842885.0     1
13759710.0    1
23091567.0    1
711625.0      1
747462.0      1
2187279.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
4140537.0     1
13786951.0    1
2567380.0     1
7726497.0     1
703280.0      1
6928738.0     1
4443468.0     1
7656749.0     1
1420100.0     1
14688777.0    1
1089658.0     1
1310960.0     1
3589705.0     1
3207670.0     1
4757639.0     1
2295870.0     1
793101.0      1
5990499.0     1
3559980.0     1
39183018.0    1
15595671.0    1
15671363.0    1
5024673.0     1
934530.0      1
6521269.0     1
27900803.0    1
1255280.0     1
3892091.0     1
2062836.0     1
706938.0      1
731384.0      1
1035636.0     1
4359021.0     1
24485263.0    1
2178936.0     1
7723744.0     1
7516979.0     1
2400660.0     1
4675296.0     1
3938009.0     1
14712250.0    1
1206195.0     1
9207163.0     1
1906860.0     1
4109130.0     1
7083655.0     1
1611926.0     1
1279125.0     1
13577343.0    1
1913783.0     1
6672384.0     1
Name: TOTAL_REVENUE, dtype: int64
825851.0      1
16361921.0    1
15248112.0    1
770094.0      1
1243227.0     1
2089048.0     1
7288143.0     1
2068337.0     1
6949149.0     1
3390596.0     1
5460213.0     1
14977501.0    1
8331336.0     1
758072.0      1
3788901.0     1
2190420.0     1
4740254.0     1
17093036.0    1
1049369.0     1
2684966.0     1
8476795.0     1
4641847.0     1
4365352.0     1
4080653.0     1
1708133.0     1
7415243.0     1
4188131.0     1
26096023.0    1
41393435.0    1
1358566.0     1
1004472.0     1
1147600.0     1
30215370.0    1
14507056.0    1
6850334.0     1
8167164.0     1
4471546.0     1
1328572.0     1
3740509.0     1
1405250.0     1
6238901.0     1
2532681.0     1
5085826.0     1
780875.0      1
1498286.0     1
16208970.0    1
8388120.0     1
2212104.0     1
2425600.0     1
10380164.0    1
5059587.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
2743284.0     1
17090654.0    1
9064700.0     1
8489991.0     1
4690418.0     1
812982.0      1
5338531.0     1
4885917.0     1
5073266.0     1
2844855.0     1
881423.0      1
15327834.0    1
28918934.0    1
868161.0      1
2252416.0     1
1098555.0     1
9464271.0     1
4785331.0     1
5884078.0     1
7419047.0     1
1104935.0     1
15651060.0    1
7620930.0     1
46628207.0    1
1792390.0     1
4369400.0     1
15939477.0    1
2263952.0     1
787323.0      1
1464820.0     1
8911426.0     1
1211370.0     1
2546642.0     1
1313510.0     1
1404895.0     1
7344747.0     1
17558787.0    1
6675260.0     1
5479168.0     1
4330089.0     1
1452222.0     1
2243151.0     1
3822452.0     1
7848352.0     1
1586869.0     1
31906526.0    1
17595047.0    1
11197766.0    1
2191695.0     1
3518271.0     1
3906833.0     1
Name: TOTAL_REVENUE, dtype: int64
17792997.0    1
6331569.0     1
5560822.0     1
16693845.0    1
9124748.0     1
18534372.0    1
4257128.0     1
30868844.0    1
10613329.0    1
4832946.0     1
1300273.0     1
1592622.0     1
12271962.0    1
4068110.0     1
1153831.0     1
2381897.0     1
1914551.0     1
3681845.0     1
1571348.0     1
2823151.0     1
2355374.0     1
2373143.0     1
7936037.0     1
4561948.0     1
1757828.0     1
18467090.0    1
34373567.0    1
9493862.0     1
9670620.0     1
7864290.0     1
1139959.0     1
7836617.0     1
53288943.0    1
16854895.0    1
8363904.0     1
5372784.0     1
4536133.0     1
7081783.0     1
5437615.0     1
804297.0      1
2974588.0     1
886661.0      1
1325498.0     1
818139.0      1
5916342.0     1
1042261.0     1
16772419.0    1
2321731.0     1
1682332.0     1
4982369.0     1
2741771.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
4191217.0     1
930874.0      1
17589983.0    1
9701231.0     1
3823261.0     1
1625444.0     1
1180255.0     1
5128559.0     1
2413744.0     1
19084554.0    1
846759.0      1
9273957.0     1
3147921.0     1
13042229.0    1
1387074.0     1
1889600.0     1
8250593.0     1
18055855.0    1
11217085.0    1
5627004.0     1
2528312.0     1
3029559.0     1
6192222.0     1
8065042.0     1
32802734.0    1
4370415.0     1
2041986.0     1
4772603.0     1
18071365.0    1
9914221.0     1
1377767.0     1
18586743.0    1
5785857.0     1
2865058.0     1
1138126.0     1
7455539.0     1
35748163.0    1
18541689.0    1
4621025.0     1
8430663.0     1
5229238.0     1
1633707.0     1
2592064.0     1
1168799.0     1
8624767.0     1
6644334.0     1
2537261.0     1
908719.0      1
54727056.0    1
1887115.0     1
5849588.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
7622601.0     1
9907235.0     1
962240.0      1
2875622.0     1
8565636.0     1
4374803.0     1
2626262.0     1
1114061.0     1
4592019.0     1
1205602.0     1
1242436.0     1
19785039.0    1
3241275.0     1
5196054.0     1
5994756.0     1
2028602.0     1
1728055.0     1
2497707.0     1
965778.0      1
1685984.0     1
1425948.0     1
18018740.0    1
4426835.0     1
11591832.0    1
8700979.0     1
10504167.0    1
2078877.0     1
8246076.0     1
18488359.0    1
4872025.0     1
13524807.0    1
2778564.0     1
4068800.0     1
6529894.0     1
2162605.0     1
19627346.0    1
8484497.0     1
5709707.0     1
19811545.0    1
35143236.0    1
5478321.0     1
19549835.0    1
6959891.0     1
882913.0      1
2600831.0     1
59815855.0    1
38033080.0    1
3260771.0     1
6297242.0     1
1451171.0     1
8931497.0     1
Name: TOTAL_REVENUE, dtype: int64
2585084.0     1
3069531.0     1
21104028.0    1
8688315.0     1
974888.0      1
6349101.0     1
925393.0      1
21623923.0    1
2734724.0     1
2194562.0     1
1007135.0     1
21398391.0    1
11979937.0    1
7276945.0     1
1477152.0     1
4396136.0     1
7117923.0     1
3481643.0     1
18878773.0    1
1525776.0     1
7893957.0     1
2138137.0     1
60162326.0    1
2228749.0     1
5713792.0     1
14136215.0    1
1334523.0     1
1733838.0     1
9183588.0     1
10569600.0    1
3385818.0     1
2855893.0     1
11151172.0    1
5135262.0     1
2997200.0     1
5086083.0     1
1836758.0     1
9123493.0     1
4377709.0     1
6527456.0     1
8790531.0     1
5961494.0     1
4622080.0     1
1270790.0     1
10423578.0    1
1081501.0     1
21082441.0    1
18663799.0    1
5356113.0     1
36055119.0    1
40820776.0    1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
1599739.0     1
7898694.0     1
3181279.0     1
4638125.0     1
1109605.0     1
969520.0      1
5022050.0     1
43936450.0    1
62171797.0    1
1132160.0     1
19106382.0    1
37783715.0    1
1053504.0     1
6806262.0     1
6337711.0     1
2982991.0     1
12976279.0    1
23216404.0    1
1293070.0     1
1628681.0     1
2332695.0     1
5975074.0     1
11098165.0    1
11653165.0    1
1903472.0     1
2701056.0     1
9906219.0     1
7550109.0     1
5889966.0     1
9584108.0     1
4892548.0     1
19746239.0    1
21611180.0    1
8777363.0     1
14724731.0    1
6910296.0     1
3381646.0     1
1796035.0     1
2274166.0     1
2895640.0     1
5444309.0     1
22657782.0    1
3639643.0     1
23026334.0    1
4223632.0     1
12182657.0    1
1431710.0     1
2324789.0     1
9141383.0     1
8340865.0     1
3978240.0     1
Name: TOTAL_REVENUE, dtype: int64
1092863.0     1
2705532.0     1
3107061.0     1
25423686.0    1
9679682.0     1
6002056.0     1
9855692.0     1
23950553.0    1
47018793.0    1
1625138.0     1
5120286.0     1
41142403.0    1
8436197.0     1
16165924.0    1
3691628.0     1
10697117.0    1
14160242.0    1
1008339.0     1
2381908.0     1
2814536.0     1
19714584.0    1
4247664.0     1
9314477.0     1
3094036.0     1
11578988.0    1
1150345.0     1
20957714.0    1
13153845.0    1
4648920.0     1
8846493.0     1
22724326.0    1
5429145.0     1
2004709.0     1
1086433.0     1
7195519.0     1
2459051.0     1
3381146.0     1
23915685.0    1
6780668.0     1
6752813.0     1
11709885.0    1
1875346.0     1
4898509.0     1
1544615.0     1
1725093.0     1
4279581.0     1
66302860.0    1
8084068.0     1
1375638.0     1
7295561.0     1
6364028.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
8724434.0     1
44355326.0    1
17755989.0    1
3234014.0     1
7069040.0     1
4006081.0     1
1045678.0     1
2538161.0     1
7130274.0     1
23897153.0    1
28898362.0    1
2985593.0     1
5491931.0     1
5648586.0     1
2011951.0     1
9693509.0     1
8913149.0     1
1836316.0     1
72516936.0    1
10350748.0    1
25293076.0    1
14407777.0    1
5038100.0     1
1474306.0     1
4415981.0     1
4220926.0     1
7048732.0     1
5194536.0     1
7617488.0     1
25334577.0    1
10458932.0    1
2100679.0     1
22142424.0    1
10154985.0    1
20576110.0    1
14176385.0    1
1694929.0     1
3656090.0     1
2905489.0     1
8908844.0     1
1148358.0     1
6226696.0     1
7689014.0     1
1136570.0     1
1477891.0     1
2600123.0     1
11674965.0    1
1800616.0     1
50762544.0    1
13063307.0    1
3272953.0     1
Name: TOTAL_REVENUE, dtype: int64
14768120.0    1
7751886.0     1
18683630.0    1
11195224.0    1
9335599.0     1
22746589.0    1
4608356.0     1
3569311.0     1
14633578.0    1
46245975.0    1
10619354.0    1
25431714.0    1
11340157.0    1
1888635.0     1
9272152.0     1
25916004.0    1
7726213.0     1
20441973.0    1
2151476.0     1
1694998.0     1
5496908.0     1
2594335.0     1
5378095.0     1
1104803.0     1
1224312.0     1
10118118.0    1
8070129.0     1
53147343.0    1
4338601.0     1
9322225.0     1
2173888.0     1
26357235.0    1
2541703.0     1
7743317.0     1
1602514.0     1
1562815.0     1
4449009.0     1
3383157.0     1
2965828.0     1
6637062.0     1
8086152.0     1
5780151.0     1
13610326.0    1
30001821.0    1
2715463.0     1
4198001.0     1
74626928.0    1
2188587.0     1
13098112.0    1
6107684.0     1
1190917.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
1607935.0     1
19616665.0    1
22779344.0    1
1683034.0     1
7984550.0     1
3703477.0     1
2816162.0     1
3522481.0     1
2623127.0     1
26510413.0    1
2179714.0     1
3097212.0     1
12999357.0    1
4442101.0     1
9681268.0     1
4392101.0     1
1150142.0     1
26755585.0    1
8802515.0     1
73958896.0    1
15298022.0    1
48087531.0    1
2182273.0     1
15251481.0    1
26494500.0    1
6158756.0     1
9472520.0     1
12025012.0    1
7669733.0     1
5732319.0     1
7186390.0     1
10991081.0    1
1675761.0     1
55885116.0    1
17972839.0    1
8310673.0     1
13147931.0    1
801008.0      1
1718993.0     1
2689758.0     1
8112895.0     1
4753142.0     1
6706922.0     1
2158970.0     1
15410564.0    1
5615208.0     1
4238943.0     1
10353784.0    1
1258876.0     1
6029807.0     1
26987426.0    1
Name: TOTAL_REVENUE, dtype: int64
2906573.0     1
10383935.0    1
5069272.0     1
2177999.0     1
17839851.0    1
7281058.0     1
8091029.0     1
2207123.0     1
4466377.0     1
1733458.0     1
5454128.0     1
14023240.0    1
5744872.0     1
2564856.0     1
1308214.0     1
55453300.0    1
7755419.0     1
2721365.0     1
67356719.0    1
26231141.0    1
5778507.0     1
3638606.0     1
14919763.0    1
8405025.0     1
9726922.0     1
9587703.0     1
11919090.0    1
3720560.0     1
16621268.0    1
3176874.0     1
50559500.0    1
6881951.0     1
8793676.0     1
1292742.0     1
28253620.0    1
23247907.0    1
26676217.0    1
19393461.0    1
13327770.0    1
1749898.0     1
2230338.0     1
4250259.0     1
1623971.0     1
1195934.0     1
27883991.0    1
8828122.0     1
1718605.0     1
4262471.0     1
11289720.0    1
14937195.0    1
6219779.0     1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
2089982.0     1
1631810.0     1
11905941.0    1
13443940.0    1
26453693.0    1
51023159.0    1
4141253.0     1
5835133.0     1
3475642.0     1
3591330.0     1
10912368.0    1
2212352.0     1
8022917.0     1
19374026.0    1
8679893.0     1
6112484.0     1
28492510.0    1
2357828.0     1
23488657.0    1
7104589.0     1
11664303.0    1
5538869.0     1
5176362.0     1
57753776.0    1
1309044.0     1
9915356.0     1
1297661.0     1
8429186.0     1
9783168.0     1
14655345.0    1
15396681.0    1
14409515.0    1
1686499.0     1
4516742.0     1
2947007.0     1
2499513.0     1
26242376.0    1
1650621.0     1
3879388.0     1
12125155.0    1
4146577.0     1
1759170.0     1
2654366.0     1
18030043.0    1
7376725.0     1
70953331.0    1
7772777.0     1
1283071.0     1
6098470.0     1
8747471.0     1
29507584.0    1
Name: TOTAL_REVENUE, dtype: int64
4477828.0     1
7192430.0     1
3478709.0     1
8983224.0     1
2535038.0     1
6124872.0     1
13752912.0    1
10022622.0    1
3764056.0     1
1331006.0     1
22799205.0    1
1754161.0     1
1981482.0     1
69016392.0    1
14940479.0    1
1298723.0     1
1664983.0     1
2383402.0     1
27574528.0    1
5613619.0     1
49979753.0    1
8616009.0     1
27881568.0    1
6262807.0     1
24139266.0    1
10070907.0    1
4053945.0     1
8477993.0     1
7889771.0     1
58981073.0    1
7934798.0     1
29900021.0    1
5169926.0     1
3970941.0     1
2611056.0     1
11955582.0    1
7136949.0     1
11139967.0    1
12395432.0    1
5824963.0     1
10681609.0    1
1628318.0     1
17559894.0    1
1345371.0     1
2963221.0     1
4217360.0     1
2208278.0     1
1855867.0     1
12788659.0    1
18622316.0    1
15763456.0    1
Name: TOTAL_REVENUE, dtype: int64
NaN           2
8164324.0     1
1930466.0     1
8254462.0     1
68868516.0    1
5667223.0     1
30057886.0    1
5878111.0     1
2282659.0     1
59623918.0    1
8826868.0     1
12729402.0    1
1300036.0     1
28484645.0    1
2331770.0     1
10848720.0    1
2015534.0     1
6281345.0     1
2976317.0     1
49734537.0    1
22536516.0    1
6077498.0     1
28070096.0    1
7216175.0     1
1316613.0     1
2650346.0     1
4300793.0     1
18270327.0    1
3518621.0     1
12236713.0    1
10103589.0    1
2545117.0     1
4131800.0     1
3870164.0     1
4444064.0     1
9008032.0     1
1695967.0     1
1817307.0     1
8121179.0     1
5067546.0     1
16114783.0    1
24681548.0    1
10319361.0    1
7197439.0     1
11097447.0    1
3486366.0     1
12242231.0    1
1405349.0     1
15322318.0    1
17459504.0    1
1671053.0     1
13814727.0    1
Name: TOTAL_REVENUE, dtype: int64
17821620.0    1
1954374.0     1
5193218.0     1
52776853.0    1
61337112.0    1
11168633.0    1
13982544.0    1
7229857.0     1
12399402.0    1
3042994.0     1
72389126.0    1
13040197.0    1
31085621.0    1
7357267.0     1
1772633.0     1
8417698.0     1
6621363.0     1
18457253.0    1
2696766.0     1
10256615.0    1
4480105.0     1
15347862.0    1
1342220.0     1
10743919.0    1
1895044.0     1
26077462.0    1
16609204.0    1
6034336.0     1
3601387.0     1
8352703.0     1
11330253.0    1
28454548.0    1
1568997.0     1
2675648.0     1
23297509.0    1
9162406.0     1
1345549.0     1
2084970.0     1
4005091.0     1
2313010.0     1
4203255.0     1
8361708.0     1
5813985.0     1
29068069.0    1
1729712.0     1
2663647.0     1
4405929.0     1
9237782.0     1
6455928.0     1
13462754.0    1
3514889.0     1

In [48]:
statesData["TOTAL_REVENUE"][statesData["YEAR"]==2011].value_counts()

2089982.0     1
1631810.0     1
11905941.0    1
13443940.0    1
26453693.0    1
51023159.0    1
4141253.0     1
5835133.0     1
3475642.0     1
3591330.0     1
10912368.0    1
2212352.0     1
8022917.0     1
9915356.0     1
8679893.0     1
6112484.0     1
28492510.0    1
2357828.0     1
23488657.0    1
7104589.0     1
11664303.0    1
5538869.0     1
5176362.0     1
57753776.0    1
1309044.0     1
1297661.0     1
19374026.0    1
8429186.0     1
9783168.0     1
14655345.0    1
15396681.0    1
14409515.0    1
1686499.0     1
4516742.0     1
2947007.0     1
2499513.0     1
26242376.0    1
1650621.0     1
3879388.0     1
12125155.0    1
4146577.0     1
1759170.0     1
2654366.0     1
18030043.0    1
7376725.0     1
70953331.0    1
7772777.0     1
1283071.0     1
6098470.0     1
8747471.0     1
29507584.0    1
Name: TOTAL_REVENUE, dtype: int64